@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#menu ul{
    list-style: none;
    padding: 0;
    background-color: rgba(127, 49, 216, 0.877);
    font-family: sans-serif;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    display: inline-block;
    color: rgba(255, 255, 255, 0.89);
    text-decoration: none;
    padding: 18px;
    font-weight: bold;
    margin-left: 1%;
}

#menu ul li a:hover{
    background-color: rgba(139, 24, 233, 0.637);
    color: white;
}

#atual{
    background-color: rgba(139, 24, 233, 0.637);
    color: white;
}

#menu ul li:last-child a{
    float: right;
    background-color: rgba(139, 24, 233, 0.849);
    margin-right: 1%;
}

body{
    background-color: rgba(210, 143, 255, 0.459);
    font-family: 'Poppins', sans-serif;
}

#logo{
    width: 15%;
    float: right;
}


#form{
    position: relative;
    margin-top: 6%;
    margin-left: 37%;
    background: rgba(127, 49, 216, 0.877);
    border-radius: 10px;
    color: white;
    padding: 60px;
    width: min-content;
    align-items: center;
    animation: iniciar 1s ease-out;
    pointer-events: all;
}

.title{
    font-size: 1.8em;
    margin-bottom: 10%;
}

.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px white solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input i{
    font-size: 1.2e;
    padding: 5px;
}

.input input{
    width: 80%;
    border: none;
    outline: none;
    background-color: rgba(127, 49, 216, 0);
    color: white;
    font-family: 'Poppins', sans-serif;
    transform: translateY(-8%);
    font-size: 11pt;
}

#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: rgba(127, 49, 216, 0.877);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#btn button:hover{
    background: rgb(189, 183, 183);
}

::placeholder{
    color: white;
}

@keyframes iniciar{
    0%{
        margin-top: -20%;
        opacity: 0;
        pointer-events: none;
    }
    100%{
        margin-top: 6%;
        opacity: 100%;
        pointer-events: all;
    }
}



