*{
    font-family: sans-serif;
}

#titulo{
    color: white;
    margin-top: 3%;
    font-size: 300%;
    text-align: center;
}

#subtitulo{
    color: white;
    text-align: center;
}

body{
    background-image: linear-gradient(to right,rgb(23, 141, 252),rgb(30, 255, 116));
}

#form{
    margin-left: 35%;
    margin-top: 2%;
    height: 100%;
    width: 30%;
    justify-content: center;
    display: flex;
}

input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px white solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    align-items: center;
}

label{
    font-size: larger;
    font-weight: bold;
    color: white;
}

.input i{
    font-size: 1.2e;
    padding: 5px;
    color: white;
}

#option{
    min-width: 290px;
    border-radius: 22px;
    border: 2px white solid;
    padding: 5px;
    margin: 0px 0px 12px -7px;
}

#btn button{
    
    margin-top: 3%;
    width: 103%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: black;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

#btn-re button{
    margin-top: -30%;
    margin-left: 7%;
    position: absolute;
    width: 20%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: black;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

#quadro{
    margin-top: -25%;
    margin-left: 7%;
    width: 20%;
    height: 40%;
    position: absolute;
    border: 5px solid white;
    border-radius: 20px;
}

.infos{
    color: white;
    margin-left: 5%;
}

#btn button:hover{
    background: rgb(189, 183, 183);
}

#btn-re button:hover{
    background: rgb(189, 183, 183);
}

#img{
    position: absolute;
    float: right;
    margin-left: 58%;
    width: 40%;
}


